:root{
    --primary-color: rgba(68, 68, 68, 0.9);
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;
    --border-color:#dbdbdb;
}

*{
    box-sizing: inherit;
}

html{

    font-size: 63.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* animation */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Increase {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
/* modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 10;
}

.modal__body{
    margin: auto;
    z-index: 1;

}
/* modal infor */
.modal__in4{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 10;
}

.modal__body__in4{
    margin: auto;
    z-index: 1;

}
/* button style */
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    padding: 0 18px;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.btn--normal:hover{
    background-color: rgb(0,0,0,0.05);
}

.btn.btn--size-s{
    font-size: 1.6rem;
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disnable{
    color: #ccc;
    cursor: default;
    background-color: #999;

}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 0px;
    margin-bottom: 50px
}
.col-half{
    width: 50%;
}
